<div class="justify-center grid grid-cols-4">

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group A
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>
          @for (equipo of fGrupo1 ; track $index) {
            <td class="border border-white border-t-0 py-2 px-4 flex items-center">
            <img src="{{equipo.img}}" alt="{{equipo.name}}" width="30px">
              <span class="ms-2">
                {{equipo.name}}
              </span>
            </td>
          }


     </tr>
    </tbody>

  </table>

  <table class="border border-white m-10">

    <thead>
      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group B
        </span>
      </tr>

    </thead>
    <tbody>
      <tr>

          @for (equipo of fGrupo2 ; track $index) {
            <td class="border border-white border-t-0 py-2 px-4 flex items-center">
            <img src="{{equipo.img}}" src="" alt="" width="30px">
              <span class="ms-2">
                {{equipo.name}}
              </span>
            </td>
          }

      </tr>
    </tbody>
  </table>

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group C
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>
        @for (equipo of fGrupo3; track $index) {
          <td class="border border-white border-t-0 py-2 px-4 flex items-center">
          <img src="{{equipo.img}}" src="" alt="" width="30px">
            <span class="ms-2">
              {{equipo.name}}
            </span>
          </td>
        }

    </tr>
  </tbody>

  </table>

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group D
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>
        @for (equipo of fGrupo4 ; track $index) {
          <td class="border border-white border-t-0 py-2 px-4 flex items-center">
          <img src="{{equipo.img}}" src="" alt="" width="30px">
            <span class="ms-2">
              {{equipo.name}}
            </span>
          </td>
        }
     </tr>
    </tbody>

  </table>

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group E
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>

        @for (equipo of fGrupo5  ; track $index) {
          <td class="border border-white border-t-0 py-2 px-4 flex items-center">
          <img src="{{equipo.img}}" src="" alt="" width="30px">
            <span class="ms-2">
              {{equipo.name}}
            </span>
          </td>
        }

      </tr>
    </tbody>

  </table>

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group F
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>

        @for (equipo of fGrupo6 ; track $index) {
          <td class="border border-white border-t-0 py-2 px-4 flex items-center">
          <img src="{{equipo.img}}" src="" alt="" width="30px">
            <span class="ms-2">
              {{equipo.name}}
            </span>
          </td>
        }

      </tr>
    </tbody>

  </table>

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group G
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>


        @for (equipo of fGrupo7 ; track $index) {
          <td class="border border-white border-t-0 py-2 px-4 flex items-center">
          <img src="{{equipo.img}}" src="" alt="" width="30px">
            <span class="ms-2">
              {{equipo.name}}
            </span>
          </td>
       }



      </tr>
    </tbody>

  </table>

  <table class="border border-white m-10">

    <thead>

      <tr class="border border-white tablehead">
        <span class="my-10 text-2xl">
          Group H
        </span>
      </tr>

    </thead>

    <tbody>
      <tr>

        @for (equipo of fGrupo8 ; track $index) {
          <td class="border border-white border-t-0 py-2 px-4 flex items-center">
          <img src="{{equipo.img}}" src="" alt="" width="30px">
            <span class="ms-2">
              {{equipo.name}}
            </span>
          </td>
        }


      </tr>
    </tbody>

  </table>

</div>

